

 /* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Roboto:wght@100&family=Square+Peg&display=swap'); */
 /* text align- we will be able to control the alignment of the text( LEFT, RIGHT, CENTRE, NORMAL */
 /* normal alignment is normal */
 /* text indent- can be in pixels or rem */

body{
 font-family: 'Bricolage Grotesque', sans-serif;
 /* text-align: center; */
}
.main{
 font-family: 'Square Peg', cursive;
}
.subheading{

}
.one{
 /* text-align: right; */
 text-indent: 10rem ;
}
.two{
text-align: left;
}
